<a href="https://colab.research.google.com/github/DHARAN3SH/112122015DATABYTE/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving MELBOURNE_HOUSE_PRICES_LESS.csv to MELBOURNE_HOUSE_PRICES_LESS.csv
Saving Melbourne_housing_FULL.csv to Melbourne_housing_FULL.csv

In [ ]:
df=pd.read_csv('Melbourne_housing_FULL.csv')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [ ]:
import math
median_Price = math.floor(df.Price.median())
median_Price
median_Bathroom = math.floor(df.Bathroom.median())
median_Bathroom
median_Car = math.floor(df.Car.median())
median_Car
median_Landsize = math.floor(df.Landsize.median())
median_Landsize
median_BuildingArea = math.floor(df.BuildingArea.median())
median_BuildingArea
median_YearBuilt = math.floor(df.YearBuilt.median())
median_YearBuilt
median_Lattitude = math.floor(df.Lattitude.median())
median_Lattitude
median_Longtitude = math.floor(df.Longtitude.median())
median_Longtitude

145

In [ ]:
df.Longtitude = df.Longtitude.fillna(median_Longtitude)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,145.00000,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [ ]:
df.Lattitude = df.Lattitude.fillna(median_Lattitude)
df.YearBuilt = df.YearBuilt.fillna(median_YearBuilt)
df.BuildingArea = df.BuildingArea.fillna(median_BuildingArea)
df.Landsize = df.Landsize.fillna(median_Landsize)
df.Car = df.Car.fillna(median_Car)
df.Bathroom = df.Bathroom.fillna(median_Bathroom)
df.Price = df.Price.fillna(median_Price)

In [ ]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,870000.0,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,136.0,1970.0,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,136.0,1970.0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,870000.0,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,136.0,1970.0,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,136.0,1970.0,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,2.0,2.0,521.0,136.0,1970.0,Maribyrnong City Council,-38.00000,145.00000,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [ ]:
df.columns. values. tolist()

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

In [ ]:
df=pd.read_csv('Melbourne_housing_FULL.csv')

In [ ]:
from numpy.linalg import inv

In [ ]:
data=df[['Rooms','Bathroom','Car','Landsize','YearBuilt','Lattitude','Longtitude','Price']]

In [ ]:
data

,Rooms,Bathroom,Car,Landsize,YearBuilt,Lattitude,Longtitude,Price
0,2,1.0,1.0,126.0,NaN,-37.80140,144.99580,NaN
1,2,1.0,1.0,202.0,NaN,-37.79960,144.99840,1480000.0
2,2,1.0,0.0,156.0,1900.0,-37.80790,144.99340,1035000.0
3,3,2.0,1.0,0.0,NaN,-37.81140,145.01160,NaN
4,3,2.0,0.0,134.0,1900.0,-37.80930,144.99440,1465000.0
...,...,...,...,...,...,...,...,...
34852,4,1.0,3.0,593.0,NaN,-37.81053,144.88467,1480000.0
34853,2,2.0,1.0,98.0,2018.0,-37.81551,144.88826,888000.0
34854,2,1.0,2.0,220.0,2000.0,-37.82286,144.87856,705000.0
34855,3,NaN,NaN,NaN,NaN,NaN,NaN,1140000.0
34856,2,1.0,0.0,250.0,1930.0,-37.81810,144.89351,1020000.0

In [ ]:
median_Price = math.floor(data.Price.median())
median_Price
median_Bathroom = math.floor(data.Bathroom.median())
median_Bathroom
median_Car = math.floor(data.Car.median())
median_Car
median_Landsize = math.floor(data.Landsize.median())
median_Landsize
median_YearBuilt = math.floor(data.YearBuilt.median())
median_YearBuilt
median_Lattitude = math.floor(data.Lattitude.median())
median_Lattitude
median_Longtitude = math.floor(data.Longtitude.median())
median_Longtitude

145

In [ ]:
data.Lattitude = data.Lattitude.fillna(median_Lattitude)
data.Longtitude = data.Longtitude.fillna(median_Longtitude)

data.YearBuilt = data.YearBuilt.fillna(median_YearBuilt)
data.Landsize = data.Landsize.fillna(median_Landsize)
data.Car = data.Car.fillna(median_Car)
data.Bathroom = data.Bathroom.fillna(median_Bathroom)
data.Price = data.Price.fillna(median_Price)

<ipython-input-14-f6205c5726eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Lattitude = data.Lattitude.fillna(median_Lattitude)
<ipython-input-14-f6205c5726eb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Longtitude = data.Longtitude.fillna(median_Longtitude)
<ipython-input-14-f6205c5726eb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.YearBuilt = data.YearBuilt.fillna(median_YearBuilt)
<ipython-input-14-f6205c5726eb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Landsize = data.Landsize.fillna(median_Landsize)
<ipython-input-14-f6205c5726eb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Car = data.Car.fillna(median_Car)
<ipython-input-14-f6205c5726eb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Bathroom = data.Bathroom.fillna(median_Bathroom)
<ipython-input-14-f6205c5726eb>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Price = data.Price.fillna(median_Price)

In [ ]:
data

,Rooms,Bathroom,Car,Landsize,YearBuilt,Lattitude,Longtitude,Price
0,2,1.0,1.0,126.0,1970.0,-37.80140,144.99580,870000.0
1,2,1.0,1.0,202.0,1970.0,-37.79960,144.99840,1480000.0
2,2,1.0,0.0,156.0,1900.0,-37.80790,144.99340,1035000.0
3,3,2.0,1.0,0.0,1970.0,-37.81140,145.01160,870000.0
4,3,2.0,0.0,134.0,1900.0,-37.80930,144.99440,1465000.0
...,...,...,...,...,...,...,...,...
34852,4,1.0,3.0,593.0,1970.0,-37.81053,144.88467,1480000.0
34853,2,2.0,1.0,98.0,2018.0,-37.81551,144.88826,888000.0
34854,2,1.0,2.0,220.0,2000.0,-37.82286,144.87856,705000.0
34855,3,2.0,2.0,521.0,1970.0,-38.00000,145.00000,1140000.0
34856,2,1.0,0.0,250.0,1930.0,-37.81810,144.89351,1020000.0

In [47]:
# Defining the columns that containing the numerical data
#nc=numerical data
nc = ['Rooms','Bathroom','Car','Landsize','YearBuilt','Lattitude','Longtitude']
# Calculate the Z-scores for each and every column
z_scores = np.abs((df[nc]-df[nc].mean())/df[nc].std())
# Defining the zscore threshold for detecting outliers
zscore_threshold = 3
# Remove rows with outliers based on the Z-scores
data_no_outliers = data[(z_scores < zscore_threshold).all(axis=1)]
print(data_no_outliers)

          Rooms  Bathroom       Car  Landsize  YearBuilt  Lattitude  \
2      0.066667  0.083333  0.000000  0.000360   0.773626   0.478025
4      0.133333  0.166667  0.000000  0.000309   0.773626   0.476276
6      0.200000  0.083333  0.076923  0.000277   0.898901   0.478900
7      0.200000  0.166667  0.076923  0.000924   0.890110   0.492271
8      0.066667  0.083333  0.076923  0.000464   0.773626   0.488522
...         ...       ...       ...       ...        ...        ...
34849  0.133333  0.166667  0.076923  0.000933   0.896703   0.724942
34850  0.133333  0.166667  0.076923  0.000619   0.901099   0.724154
34853  0.066667  0.166667  0.038462  0.000226   0.903297   0.468515
34854  0.066667  0.083333  0.076923  0.000508   0.883516   0.459330
34856  0.066667  0.083333  0.000000  0.000577   0.806593   0.465279

       Longtitude     Price
2        0.516625  0.085470
4        0.517532  0.124157
6        0.517260  0.136302
7        0.519437  0.070625
8        0.520253  0.070625
...           ...       ...
34849    0.553385  0.043635
34850    0.561439  0.070625
34853    0.421265  0.072245
34854    0.412467  0.055780
34856    0.426027  0.084121

[12736 rows x 8 columns]

In [49]:
X = data[['Rooms','Bathroom','Car','Landsize','YearBuilt','Lattitude','Longtitude']]  # Features
y = data['Price']  # Target

In [50]:
# Add a column of ones to X for the bias term
X['bias'] = 1

In [51]:
X = X.to_numpy()
y = y.to_numpy()

In [52]:
# Splitting the data into test and training datasets
test_ratio = 0.2  # 20% of the data will be used for testing
split_index = int(len(df) * (1 - test_ratio))

In [53]:
X_train = X[:split_index]
X_test = X[split_index:]
y_train = y[:split_index]
y_test = y[split_index:]

In [54]:
# Initialize the coefficients/parameters
coefficients = np.zeros(X_train.shape[1])

In [55]:
# Define the hypothesis function (regression equation)
def hypothesis_function(X, coefficients):
    return np.dot(X, coefficients)

In [56]:
# Define the loss function (mean squared error)
def loss_function(y_predicted, y_actual):
    return np.mean((y_predicted - y_actual) ** 2)

In [57]:
# Define the gradient descent algorithm
def gradient_descent(X, y, coefficients, learning_rate, iterations):
    for _ in range(iterations):
        y_predicted = hypothesis_function(X, coefficients)
        error = y_predicted - y
        gradient = np.dot(X.T, error) / len(X)
        coefficients -= learning_rate * gradient
    return coefficients

In [58]:
# Train the regression model using gradient descent
learning_rate = 0.01
iterations = 1000
coefficients = gradient_descent(X_train, y_train, coefficients, learning_rate, iterations)

In [59]:
# Make predictions on the testing data
y_test_predicted = hypothesis_function(X_test, coefficients)

In [60]:
# Calculate the mean squared error (MSE) for testing
mse_test = loss_function(y_test_predicted, y_test)

In [61]:
print("Coefficients:", coefficients)

Coefficients: [0.0179071  0.01349833 0.00515043 0.00014727 0.02870247 0.01008943
 0.0250071  0.03748118]

In [62]:
print("Testing Mean Squared Error:", mse_test)

Testing Mean Squared Error: 0.0023704676750942967

TESTING WITH OWN DATA

In [73]:
import random

print("random integer between 1 and 34857")
for i in range(1):
    row=random.randrange(34857)
    print(y)

random integer between 1 and 34857
22892

In [74]:
print(data.iloc[row])

Rooms         0.133333
Bathroom      0.166667
Car           0.076923
Landsize      0.001517
YearBuilt     0.837363
Lattitude     0.294215
Longtitude    0.584059
Price         0.108862
Name: 19872, dtype: float64

In [101]:

coefficients=[0.0179071,0.01349833,0.00515043,0.00014727,0.02870247,0.01008943,0.02500711]

# Function to obtain user inputs
def get_user_inputs():
    user_inputs = []
    for i in range(7):
        feature = float(input(f"Enter the value for Feature {i+1}: "))
        user_inputs.append(feature)
    return user_inputs
user_inputs = get_user_inputs()
# Perform the multivariable regression prediction
predicted_value = np.dot(user_inputs, coefficients)
print("Predicted Value:", predicted_value)

Enter the value for Feature 1: 1
Enter the value for Feature 2: 1
Enter the value for Feature 3: 1
Enter the value for Feature 4: 1
Enter the value for Feature 5: 1
Enter the value for Feature 6: 1
Enter the value for Feature 7: 1
Predicted Value: 0.10050213999999999